@font-face {
    font-family: Title;
    src: url("photos/Title.ttf");
}

@font-face {
    font-family: BodyText;
    src: url("photos/BodyText.ttf");
}
body{
    font-family: BodyText;
    margin: 0;
    background-color: #FFFDFA;
}
h1{
    display: flex;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    color: black;
    font-family: Title;
    font-size: 3em;
}

article{
    display: flex;
    height: 10em;
    margin: 0;
    background-image: url("photos/top.png");
    background-size: 5em;
    background-repeat: no-repeat;
    position: static;
}

article a {
    text-decoration: none;
    color: black;
}

#menubutton {
    background-color: #E1E0E1;
    color: #EE964B;
    width: 100%;
    height: 60px;
    border: none;
    font-family: Title;
    font-weight: bold;
    font-size: 20px;
}

#menu {
    display: inline-block;
    width: 100%;
    margin: 0;
}

#menulist {
    display: none;
    position: absolute;
    background-color: #E9E7E7;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#menulist a {
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    width: 100%;
}

#menulist li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
}

#menulist ul {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

#menulist p{
    margin: 0;
    padding-bottom: 12px;
    padding-top: 12px;
}

#menulist a:hover {
    color: #EE964B;
}

#menu:hover #menubutton {
    background-color: #E1E0E1;
    color: #919091;
}

#description{
    background-color: #E9E7E7;
}

#description h2{
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 9%;
    font-family: Title;
}

#content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#content p{
    margin-bottom: 9%;
}

#Base{
    display: flex;
    flex-direction: column;
    margin-bottom: 40%;
}

.photoSqu{
    height: 500px;
    width: auto;
    margin: 6% 5% 6%;
    border-top-left-radius: 20px;
}

.photoHor{
    height: 500px;
    width: auto;
    margin: 6% 3% 6%;
    border-top-left-radius: 20px;
}

.photoVer{
    width: 400px;
    height: auto;
    margin: 5% 3% 5%;
    border-top-left-radius: 20px;
}

#photo_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Square{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10%;
    margin-top: 10%;
}

#Horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10%;
    margin-top: 10%;
}

#Vertical{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 10% 5% 10%;
}

.photo_indi{
    display: none;
    position: fixed;
    height: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: black;
}

.photo_indi_vert{
    display: none;
    position: fixed;
    height: 95%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: black;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #E1E0E1;
    height: 10em;
    align-items: center;
    margin-top: 8%;
}

footer h2 {
    flex-grow: 1;
    font-size: 2em;
    text-align: center;
    color: #EE964B;
    font-family: Title;
}

footer img {
    justify-self: flex-end;
    flex-grow: 1;
}

#contact {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#contact p {
    margin-bottom: 1%;
    margin-top: 1%;
}
#background{
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0,0,0,0.5);
}

@media all and (max-width: 600px) {
    .photo_indi{
        display: none;
        position: fixed;
        width: 92%;
        height: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: black;
    }
}